@CHARSET "UTF-8";

#guestbook			{ margin:30px auto; padding-left: 30px; }

#guestbook form, 
#guestbook table	{ width:100% }

#guestbook table,	
#guestbook table td { border:1px solid #333 }
#guestbook table td { padding:5px }

#guestbook ul		{ width:100%; margin-top:20px }
#guestbook ul li	{ width:100%; margin-top:10px }

#guestbook table th { padding: 10px;
    font-weight: bold;
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 2px solid #c00;
    background: #dcdcd1;
}
#guestbook table input[type="submit"]{
	font-size: 12px;
    font-family: Arial;
    font-weight: normal;
    text-decoration: inherit;
    -webkit-border-radius: 8px 8px 8px 8px;
    -moz-border-radius: 8px 8px 8px 8px;
    border-radius: 8px 8px 8px 8px;
    border: 1px solid #3866A3;
    padding: 5px 15px;
    text-shadow: 1px 1px 0px #5E5E5E;
    -webkit-box-shadow: inset 1px 1px 0px 0px #BEE2F9;
    -moz-box-shadow: inset 1px 1px 0px 0px #BEE2F9;
    box-shadow: inset 1px 1px 0px 0px #BEE2F9;
    cursor: pointer;
    color: #FFFFFF;
    display: inline-block;
    background: -webkit-linear-gradient(90deg, #468ccf 5%, #63b8ee 100%);
    background: -moz-linear-gradient(90deg, #468ccf 5%, #63b8ee 100%);
    background: -ms-linear-gradient(90deg, #468ccf 5%, #63b8ee 100%);
    background: linear-gradient(180deg, #63b8ee 5%, #468ccf 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#63b8ee",endColorstr="#468ccf");
}
#guestbook table input[type="submit"]:hover{
	background: -webkit-linear-gradient(90deg, #63b8ee 5%, #468ccf 100%);
    background: -moz-linear-gradient(90deg, #63b8ee 5%, #468ccf 100%);
    background: -ms-linear-gradient(90deg, #63b8ee 5%, #468ccf 100%);
    background: linear-gradient(180deg, #468ccf 5%, #63b8ee 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#468ccf",endColorstr="#63b8ee");
}
#guestbook table input[type="submit"]:ACTIVE{
	position:relative;
    top: 1px;
}

#guestbook table input[type="text"], input[type="password"]{
	 border: 3px ridge #FFA5A5; 
    outline:0; 
    height:25px; 
    width: 80px;
}


#guestbook.delete-form	{ height:200px }
#guestbook.delete-form form {
	width:300px;
	padding:10px;
	border:1px solid #666;
	border-radius: 10px;
	margin:50px auto;
}
#guestbook.delete-form a	{ display:block; margin:20px auto; width:110px }

#guestbook.delete-message p	{ padding:100px; height:50px; text-align:center }

#guestbook textarea#content	{ width: 100%; border:none; height: 100px; resize: none; outline: none; }